<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head" />
<body>
	<!-- Navigation -->
	<div th:replace="base :: navigation"></div>

	<!-- Page Content -->
	<div class="container">
		<div th:replace="base :: welcomeMessage"></div>
		<!-- Team Members Row -->
		<div class="row pagePronostic" style="margin-bottom: 6%;">

			<div class="col-lg-12 ">
				<h2 class="my-4">Pronostic pour un match</h2>
			</div>
			<div class="col-lg-5 rencontre" th:each="rencontre,loop : ${listRencontre}" 
			th:classappend="${loop.index}%2==0 ? insertSep : nothing ">
				<form th:action="@{'/pronostic/'+ ${rencontre.poulle.idPoulle}}"
					method="post" th:object="${rencontre}">
					<div th:with="isEven=(${count} + 1)"></div>
					<input type="hidden" name="rencontre"
						th:value="${rencontre.idRencontre}" /> <input type="hidden"
						name="personne" value="0" />
					<div class="row">
						<div class="col-lg-5 text-center">
							<img class="rounded-circle img-fluid d-block mx-auto"
								th:src="@{/resources/img/} + ${rencontre.equipe1.imgEquipe}"
								alt="" />
							<h3 th:text="${rencontre.equipe1.libelleEquipe}"></h3>
							<p th:if="${rencontre.status}==0">
								<input pattern="[0-9]{1,2}" type="text" name="butEquipe1" 
									class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput"
									value="0" required="required" />
							</p>
							<p th:unless="${rencontre.status}==0" th:text="${rencontre.butEquipe1}"></p>
						</div>
						<div class="col-lg-2 text-center">
							<h2 style="margin-top: 80%;">VS</h2>
							<button type="submit" class="btn btn-outline-success" th:if="${rencontre.status}==0"
								style="margin-left: -50%; margin-top: 200%">ok</button>
						</div>
						<div class="col-lg-5 text-center">

							<img class="rounded-circle img-fluid d-block mx-auto"
								th:src="@{/resources/img/} + ${rencontre.equipe2.imgEquipe}"
								alt="" />
							<h3 th:text="${rencontre.equipe2.libelleEquipe}"></h3>
							<p th:if="${rencontre.status}==0"> 
								<input pattern="[0-9]{1,2}" type="text" name="butEquipe2"
									class="form-control mb-2 mr-sm-2 mb-sm-0" value="0"
									required="required" />
							</p>
							<p th:unless="${rencontre.status}==0" th:text="${rencontre.butEquipe2}"></p>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>
	<!-- /.container -->
	<!-- Footer -->
	<footer th:replace="base :: footer"></footer>
	<script type="text/javascript">
	$(function() {
		var str = "";
		str += '<div class="col-lg-2">';
		str += '<span class="v-separator"></span>';
		str += '</div>';
		$(".insertSep").after(str);
	});
	</script>
</body>
</html>
