<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"/>
<body>


	<!-- Page Content -->
	<div class="container middle">
    <div class="row middle">
    <div class="error-template">
	    <h1>Success!</h1>
	    <h2 th:text=" ${msg} "></h2>
	    <div class="error-details">
	         <p></p>    
	    </div>
	    <div class="error-actions">
	
		<a  class="btn btn-primary" th:href="@{${page}}">
		    <i class="icon-home icon-white"></i> Take Me Home </a>
		<a href="mailto:ooudli@norsys.fr" class="btn btn-default">
		    <i class="icon-envelope"></i> Contact Support </a>
	    </div>
	</div>
    </div>
</div>
	<!-- /.container -->

</body>
</html>
